<mat-grid-list cols='2' rowHeight='200px'>
  <mat-grid-tile colspan='1'>
      <img src='' />
  </mat-grid-tile>
  <mat-grid-tile colspan='1'>
      <h1>Recipe Name</h1>
  </mat-grid-tile>
  <mat-grid-tile colspan='2'>
    <button mat-raised-button [matMenuTriggerFor]='manageRecipe'>
      Manage Recipe
    </button>
    <mat-menu #manageRecipe='matMenu'>
      <button mat-menu-item>To Shopping List</button>
      <button mat-menu-item>Edit Recipe</button>
      <button mat-menu-item>Delete Recipe</button>
    </mat-menu>
  </mat-grid-tile>
  <mat-grid-tile colspan='2'>
    Description
  </mat-grid-tile>
  <mat-grid-tile colspan='2'>
      Ingrediants
  </mat-grid-tile>
</mat-grid-list>


